:root {
  --heading-font: "PT Sans", sans-serif;
  --black: #000;
  --white: #fff;
  --primary: #b80257;
  --secondary: #783df0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

a {
  color: inherit;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
