:root {
  --heading-font: "Roboto Slab", serif;
  --black: #0E1412;
  --white: #fff;
  --primary: #f8ebc9;
  --secondary: #fd6038;
  --tertiary: #017848;
  --accent: #fed464;
  --gray: #586863;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
