.container {
  max-width: 1140px;
}

.hero-wrapper {
  min-height: 859px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.header {
  padding: 30px 0;
}

.header .row {
  align-items: center;
}

.header .logo {
  display: inline-flex;
}

.logo__img {
  object-fit: cover;
}

.nav-header__list {
  display: flex;
  justify-content: space-around;
}

.nav-header__item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-header__item i {
  font-size: 0.8rem;
  translate: 0 -2px;
}

.nav-header__link {
  display: block;
  padding: 4px 8px;
}

.phone-contact {
  display: flex;
  justify-content: flex-end;
  height: 32px;
  line-height: 32px;
}

.phone-contact__link--bold {
  font-weight: 700;
  font-size: 2.2rem;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
}

.hero .row > .col-6:first-child {
  padding: 0;
}

.subtitle--dark {
  color: var(--black);
}

.subtitle--gray {
  color: var(--gray);
}

.subtitle--orange {
  color: var(--secondary);
}

.subtitle,
.desc {
  font-weight: 400;
  max-width: 470px;
}

.subtitle {
  margin-bottom: 6px;
}

.desc--center {
  text-align: center;
}

.hero__subtitle {
  margin-bottom: 12px;
}

.hero__title {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 800;
  margin-bottom: 18px;
}

.hero__desc {
  margin-bottom: 38px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 600;
  height: 60px;
}

.btn--large {
  width: 330px;
}

.btn--medium {
  width: 242px;
}

.btn--small {
  width: 166px;
}

.hero-media {
  position: relative;
  width: 100%;
  max-width: 470px;
  height: 100%;
}

.hero-media__bg-green {
  position: absolute;
  inset: 0;
  background-color: var(--tertiary);
  z-index: 1;
}

.hero-media__bg-yellow {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 36.17%; /* 170px */
  height: 88.65%; /* 422px */

  background-color: var(--accent);
  z-index: 2;
}

.hero-media__img {
  display: block;
  margin: 0 auto;

  width: 70.21%; /* 330px */
  height: 100%;
  object-fit: cover;

  position: relative;
  z-index: 3;
}

.media__decord--style-1 {
  position: absolute;
  right: -21.28%; /* -100px */
  top: 30%;
  translate: 0 -50%;
  width: 36.37%;
  aspect-ratio: 41/32;
  z-index: 4;
}

.about {
  min-height: 770px;
  padding: 100px 0;
  background-color: var(--black);
}

.about .row > .col-6:first-child {
  padding: 0;
}

.about .row {
  align-items: center;
}

.about__media {
  position: relative;
  max-width: 570px;
}

.about__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.media__decord--style-2 {
  position: absolute;
  right: -8.77%; /* -50px */
  top: 65%;
  translate: 0 -50%;
  width: 20%; /* 114px */
  aspect-ratio: 57/79;
  z-index: 2;
}

.title {
  font-size: 4.2rem;
  line-height: 5.2rem;
  margin-bottom: 18px;
}

.title--white {
  color: var(--white);
}

.about__desc {
  margin-bottom: 28px;
}

.desc--gray {
  color: var(--gray);
}

.stats {
  display: flex;
  gap: 55px;
  margin-bottom: 38px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stats__number {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  color: var(--white);
}

.stats__label {
  color: var(--gray);
}

.core-wrapper {
  padding: 150px 0;
}

.services {
  margin-bottom: 150px;
}

.services-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.services-list {
  margin-bottom: 55px;
}

.services-card {
  position: relative;
}

.services-card__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.services-card__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--white {
  background-color: var(--white);
  color: var(--black);
}

.services-bottom {
  text-align: center;
}

.features .row {
  align-items: center;
}

.feature-media {
  position: relative;
}

.feature-media::before {
  content: "";
  position: absolute;
  width: 3.66%; /* 20px */
  height: 40.29%; /* 220px */
  z-index: 1;
}

.feature-media--deco-top::before {
  background-color: var(--secondary);
  right: 0;
  top: 0;
}

.feature-media--deco-bottom::before {
  background-color: var(--tertiary);
  right: 0;
  bottom: 0;
}

.features__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.media__decord--style-3 {
  position: absolute;
  left: -8.77%; /* -50px */
  top: 50%;
  translate: 0 -50%;
  width: 21.43%; /* 117px */
  aspect-ratio: 117/129;
  z-index: 2;
}

.media__decord--style-4 {
  position: absolute;
  left: -8.77%; /* -50px */
  top: 50%;
  translate: 0 -50%;
  width: 23.81%; /* 130px */
  aspect-ratio: 130/93;
  z-index: 2;
}

.feature-block__list {
  list-style: disc;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0 0 20px;
}

.feature-block__item-text {
  font-weight: 500;
}

.feature-block + .feature-block {
  margin-top: 150px;
}

.feature-block__desc {
  margin-bottom: 38px;
}
