.container {
  max-width: 1140px;
}

.hero-wrapper {
  min-height: 859px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.header {
  padding: 30px 0;
}

.header .row {
  align-items: center;
}

.header .logo {
  display: inline-flex;
}

.logo__img {
  object-fit: cover;
}

.nav-header__list {
  display: flex;
  justify-content: space-around;
}

.nav-header__item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-header__item i {
  font-size: 0.8rem;
  translate: 0 -2px;
}

.nav-header__link {
  display: block;
  padding: 4px 8px;
}

.phone-contact {
  display: flex;
  justify-content: flex-end;
  height: 32px;
  line-height: 32px;
}

.phone-contact__link--bold {
  font-weight: 700;
  font-size: 2.2rem;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
}

.hero .row > .col-6:first-child {
  padding: 0;
}

.subtitle--dark {
  color: var(--black);
}

.subtitle--gray {
  color: var(--gray);
}

.subtitle--orange {
  color: var(--secondary);
}

.subtitle--white {
  color: var(--white);
}

.subtitle,
.desc {
  font-weight: 400;
  max-width: 470px;
}

.subtitle {
  margin-bottom: 6px;
}

.desc--center {
  text-align: center;
}

.hero__subtitle {
  margin-bottom: 12px;
}

.hero__title {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 800;
  margin-bottom: 18px;
}

.hero__desc {
  margin-bottom: 38px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 600;
  height: 60px;
}

.btn--large {
  width: 330px;
}

.btn--medium {
  width: 242px;
}

.btn--small {
  width: 166px;
}

.hero-media {
  position: relative;
  width: 100%;
  max-width: 470px;
  height: 100%;
}

.hero-media__bg-green {
  position: absolute;
  inset: 0;
  background-color: var(--tertiary);
  z-index: 1;
}

.hero-media__bg-yellow {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 36.17%; /* 170px */
  height: 88.65%; /* 422px */

  background-color: var(--accent);
  z-index: 2;
}

.hero-media__img {
  display: block;
  margin: 0 auto;

  width: 70.21%; /* 330px */
  height: 100%;
  object-fit: cover;

  position: relative;
  z-index: 3;
}

.media__decord--style-1 {
  position: absolute;
  right: -21.28%; /* -100px */
  top: 30%;
  translate: 0 -50%;
  width: 36.37%;
  aspect-ratio: 41/32;
  z-index: 4;
}

.about {
  min-height: 770px;
  padding: 100px 0;
  background-color: var(--black);
}

.about .row > .col-6:first-child {
  padding: 0;
}

.about .row {
  align-items: center;
}

.about__media {
  position: relative;
  max-width: 570px;
}

.about__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.media__decord--style-2 {
  position: absolute;
  right: -8.77%; /* -50px */
  top: 65%;
  translate: 0 -50%;
  width: 20%; /* 114px */
  aspect-ratio: 57/79;
  z-index: 2;
}

.title {
  font-size: 4.2rem;
  line-height: 5.2rem;
  margin-bottom: 18px;
}

.title--white {
  color: var(--white);
}

.about__desc {
  margin-bottom: 28px;
}

.desc--gray {
  color: var(--gray);
}

.desc--white {
  color: var(--white);
}

.stats {
  display: flex;
  gap: 55px;
  margin-bottom: 38px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stats__number {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  color: var(--white);
}

.stats__label {
  color: var(--gray);
}

.core-wrapper {
  padding: 150px 0;
}

.services {
  margin-bottom: 150px;
}

.services-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.services-list {
  margin-bottom: 55px;
}

.services-card {
  position: relative;
}

.services-card__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.services-card__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--white {
  background-color: var(--white);
  color: var(--black);
}

.services-bottom {
  text-align: center;
}

.features .row {
  align-items: center;
}

.feature-media {
  position: relative;
}

.feature-media::before {
  content: "";
  position: absolute;
  width: 3.66%; /* 20px */
  height: 40.29%; /* 220px */
  z-index: 1;
}

.feature-media--deco-top::before {
  background-color: var(--secondary);
  right: 0;
  top: 0;
}

.feature-media--deco-bottom::before {
  background-color: var(--tertiary);
  right: 0;
  bottom: 0;
}

.features__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.media__decord--style-3 {
  position: absolute;
  left: -8.77%; /* -50px */
  top: 50%;
  translate: 0 -50%;
  width: 21.43%; /* 117px */
  aspect-ratio: 117/129;
  z-index: 2;
}

.media__decord--style-4 {
  position: absolute;
  left: -8.77%; /* -50px */
  top: 50%;
  translate: 0 -50%;
  width: 23.81%; /* 130px */
  aspect-ratio: 130/93;
  z-index: 2;
}

.feature-block__list {
  list-style: disc;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0 0 20px;
}

.feature-block__item-text {
  font-weight: 500;
}

.feature-block + .feature-block {
  margin-top: 150px;
}

.feature-block__desc {
  margin-bottom: 38px;
}

.team {
  min-height: 1477px;
  padding: 100px 0;
  background-color: var(--black);
}

.team-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.member-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.members-list {
  margin-bottom: 55px;
}

.member-media {
  position: relative;
}

.member-media__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
}

.member-media__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.member-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-information__name {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--white);
}

.member-information__position {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--gray);
}

.team-bottom {
  text-align: center;
}

.awards {
  min-height: 628px;
  padding: 100px 0;
  background-color: var(--primary);
}

.awards-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.awards-card {
  background-color: var(--white);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px 30px;
}

.awards-card__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.bottom-wrapper {
  padding: 150px 0;
}

.testimonials {
  min-height: 845px;
  padding-bottom: 150px;
}

.testimonials-top {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  margin-bottom: 70px;
}

.testimonials-top .title {
  max-width: 469px;
}

.testimonials-nav {
  display: flex;
  gap: 20px;
}

.testimonials-nav__link {
  width: 48px;
  height: 48px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-nav i {
  color: var(--white);
}

.testimonial-card {
  border: 1px solid #e6efec;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.testimonials-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 30px;
}

.testimonial-quote {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--gray);
  margin-bottom: 30px;
}

.testimonial-card i {
  font-size: 2.4rem;
  color: #fed464;
  margin-bottom: 12px;
}

.testimonials-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.testimonials-name {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}

.testimonials-position {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--gray);
}

.testimonials-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 55px;
}

.testimonials-dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--black);
  border-radius: 50%;
  cursor: pointer;
}

.faq {
  min-height: 652px;
  padding-bottom: 150px;
}

.faq-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.faq-tabs {
  display: flex;
  gap: 30px;
}

.accordion-item {
  border-bottom: 1px solid #dbe1e3;
}

.accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.accordion-item:last-child .accordion-item__header {
  border-bottom: none;
}

.accordion-item__icon {
  width: 28px;
  height: 28px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.accordion-item__title {
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.accordion-item__content {
  display: grid;
  grid-template-rows: 0fr;
}

.accordion-item__inner {
  overflow: hidden;
  padding-bottom: 0;
}

.accordion-item__input:checked ~ .accordion-item__content {
  grid-template-rows: 1fr;
}

.accordion-item__input:checked
  ~ .accordion-item__content
  .accordion-item__inner {
  padding: 0 30px 30px 30px;
}

.accordion-item:has(.accordion-item__input:checked) {
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border-bottom: none;
}

.accordion-item__desc {
  max-width: none;
}

.blogs-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 70px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-card__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 20px;
}

.blog-card__media {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.blog-card__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.blog-card__info {
  display: flex;
  flex-direction: column;
}

.blog-card__author {
  font-weight: 600;
}

.blog-card__position {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--gray);
}

.blog-card__title {
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.blog-card__link {
  margin-top: auto;
  font-weight: 600;
}

.cta {
  min-height: 494px;
  padding: 100px 0;
  background-color: var(--tertiary);
}

.cta-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-desc {
  margin-bottom: 38px;
}

.footer {
  background-color: var(--black);
}

.footer-top {
  padding-top: 100px;
  padding-bottom: 55px;
  border-bottom: 1px solid #313d39;
}

.footer__heading {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 24px;
  font-family: "Manrope", sans-serif;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-list__item {
  color: #beccc7;
}

.footer-list__link {
  display: block;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.footer__text {
  color: #beccc7;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.footer-map {
  width: 100%;
  height: 268px;
  overflow: hidden;
}

.footer-bottom {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-logo {
  display: inline-flex;
  margin-bottom: 12px;
  object-fit: contain;
}

.footer__copyright {
  color: #beccc7;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.social-links {
  display: flex;
  gap: 12px;
}

.social-links__item {
  width: 36px;
  height: 36px;
  background-color: #beccc7;
  display: flex;
  justify-content: center;
  align-items: center;
}
